<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../stylesheet/css/styles.css" rel="stylesheet" />
    <link href="../stylesheet/css/index.css" rel="stylesheet" />
    <!--sweetalert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"
        rel="stylesheet">
    <!--swiper-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@5.4.5/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@5.4.5/css/swiper.min.css">
    <script src="https://unpkg.com/swiper@5.4.5/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper@5.4.5/js/swiper.min.js"></script>
</head>
<body>
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text" >Delete Main</span></div>
            <select name="delete-main" class="custom-select" id = "delete-main">
                <option selected></option>
            </select>
            <input type="button" id="delete-main-btn" class ="btn btn-secondary" value="delete">
    </div>
    <form>
    <div class="input-group mb-1">    
        <span class="input-group-text" >Main</span>
        <input type="text" id = "main" name = "MAIN" class = "form-control">
        
        <span class="input-group-text" >Sub</span>
            <input type="text" id = "sub" name = "SUB" class = "form-control">
            <input type="button" id="add-btn" class ="btn btn-secondary" value="add">
      
    </div>
    </form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">MAIN</th>
            <th scope="col">SUB</th>
            <th> </th>
          </tr>
    </thead>
    <tbody>

    </tbody>

</table>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <script>
        var data =JSON.parse('<%- data %>');
        
        for(var i=0;i<data.length;i++){
            $("tbody").append(
                '<tr>'+
                '<td>'+data[i].MAIN+'</td>'+
                '<td>'+data[i].SUB+'</td>'+         
                '<td><input type = "button" class = "btn btn-warning" value = "delete" onclick="del_sub('+i+');"></td>'+   
                '</tr>'
            )
            if(i==0){
                $("#delete-main").append(
                    '<option value="'+data[i].MAIN+'">'+data[i].MAIN+'</option> '
                )
            }else if (data[i].MAIN != data[i-1].MAIN){
                $("#delete-main").append(
                    '<option value="'+data[i].MAIN+'">'+data[i].MAIN+'</option> '
                )
            }
           
        }
        //delete sub category
      function del_sub(i){       
        var mainc = data[i].MAIN;
        var subc = data[i].SUB;
        $.ajax({
            url:'/admin/category/delete/sub',
            type:'post',
            data:{
                MAIN: mainc,
                SUB: subc
            },
            success:()=>{
                location.reload();
            },
            error:()=>{
                location.reload();
            }
        })
      }

      //delete main category -> delete all sub category 
      $("#delete-main-btn").off("click").on("click",()=>{
        $.ajax({
            url:'/admin/category/delete/main',
            type:'post',
            data:{
                MAIN: $("#delete-main").val()
            },
            success:()=>{
                location.reload();
            },
            error:()=>{
                location.reload();
            }
        })
      })

      //add category
      $("#add-btn").off("click").on("click",()=>{
          $.ajax({
              url:"/admin/category/add",
              type:"post",
              data:$("form").serialize(),
              success:()=>{
                location.reload();
              },
                error:()=>{
                    location.reload();
                }
          })
      })
    </script>
    
</body>

</html>