<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h2>페이팔 결제 테스트</h2>
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="POST">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="service@autoinmall.com">
      상품명: <input type="text" name="item_name" value="test item"><br>
      상품코드: <input type="text" name="item_number" value="item1234"><br>
      통화단위: <input type="text" name="currency_code" value="USD"><br>
      상품가격: <input type="text" name="amount" value="1"><br>
      상품수량: <input type="hidden" name="quantity" value="1"><br>
      인코딩: <input type="text" name="charset" value="UTF-8"><br>
      <input type="image" name="submit"  src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="Paypal - The safer,  easier way to pay online">
    </form>
  </body>
</html>