<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../stylesheet/css/styles.css" rel="stylesheet" />
    <link href="../stylesheet/css/index.css" rel="stylesheet" />
    <!--sweetalert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"
        rel="stylesheet">
    <!--swiper-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@5.4.5/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@5.4.5/css/swiper.min.css">
    <script src="https://unpkg.com/swiper@5.4.5/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper@5.4.5/js/swiper.min.js"></script>
</head>
<body>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">MAIL</th>
            <th scope="col">PHONE</th>
              
            <th></th>
            <th></th>
          </tr>
    </thead>
    <tbody>

    </tbody>

</table>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <script>
        var data =JSON.parse('<%- data %>');
        
        for(var i=0;i<data.length;i++){
            $("tbody").append(
            '<tr>'+
            '<td><input type="text" id="id'+i+'" disabled value="'+data[i].USER_ID+'" style="border:none;background-color:white"</td>'+
            '<td><input type="text" id="name'+i+'" disabled value="'+data[i].NAME+'" style="border:none;background-color:white"</td>'+
            '<td><input type="email" id="email'+i+'" disabled value="'+data[i].EMAIL+'" style="border:none;background-color:white"</td>'+
            '<td><input type="text" id="phone'+i+'" disabled value="'+data[i].PHONE+'" style="border:none;background-color:white"</td>'+

            '<td><input type="button" id="setting'+i+'" class="btn btn-info" value="setting" onclick="set_user('+i+');"></td>' +      
                '<td><input type = "button" class = "btn btn-warning" value = "delete" onclick="del_user('+i+');"></td>'+   
            '</tr>'
        )
        }
      
         //delete user
      function del_user(i){       
        var id = data[i].USER_ID;
        $.ajax({
            url:'/admin/user/delete',
            type:'post',
            data:{
                id:id
            },
            success:()=>{
                location.reload();
            },
            error:()=>{
                location.reload();
            }
        })
      }
       //setting user
    function set_user(i){        
        if($("#setting"+i).val() === "setting"){       
           
            $("#name"+i).attr("disabled",false);
      
            $("#name"+i).css("border","1px solid black");

            $("#email"+i).attr("disabled",false);
       
            $("#email"+i).css("border","1px solid black");

            $("#phone"+i).attr("disabled",false);
     
            $("#phone"+i).css("border","1px solid black");
            $("#setting"+i).val("finish");
            $("#setting"+i).css("background-color","red");
        }else if($("#setting"+i).val() === "finish"){
           
            $("#name"+i).attr("disabled",true);
            $("#name"+i).css("border","none");
              
            $("#email"+i).attr("disabled",true);
            $("#email"+i).css("border","none");
              
            $("#phone"+i).attr("disabled",true);
            $("#phone"+i).css("border","none");

            $("#setting"+i).val("setting");
            $("#setting"+i).css("background-color","#17a2b8");
         
            $.ajax({
                url:"/admin/user/change",
                type:"post",
                data:{
                    id:data[i].USER_ID,
                    name:$("#name"+i).val(),
                    email:$("#email"+i).val(),
                    phone:$("#phone"+i).val(),
                },
               
                success:(data)=>{
                    
                    location.reload();                    
                },
                error:()=>{
                    alert("fail");
                }
            })


        }else{
            alert("인식못함");
        }
    }  
    </script>
    
</body>

</html>