#mainNav{
    background-color:#212529;
  }
  
  .dropdown-menu{
      background-color:#212529;
    }
    .dropdown-item{
      color:white!important;
    }
    .dropdown-item:hover{
      background-color: silver!important;
    }
 
  .card{
      margin-left:10%!important;
      margin-right:10%!important;
      width:80%!important;
  } 
  .body-container{
    margin-top: 10%;
    margin-bottom:5%;
    margin-left:3%;
    margin-right:3%;
    width:94%;
    padding:0;
    
}

a{
    cursor: pointer;
}

.body-container a{
  text-decoration: none;
}
.body-container a:hover{
  background-color:#fed136!important;
}

.management-list{
  width:17%;
  display: inline-block;
}

.capsulate-window{
 float:right;
 width:80%;
 height:500px;
 margin-bottom:5%;
}
