#mainNav{
    background-color:#212529;
  }
  
  .dropdown-menu{
      background-color:#212529;
    }
    .dropdown-item{
      color:white!important;
    }
    .dropdown-item:hover{
      background-color: silver!important;
    }
 
  .card{
      margin-left:10%!important;
      margin-right:10%!important;
      width:80%!important;
  } 
  .body-container{
    margin-top: 10%;margin-bottom:5%;
}
.body-container a{
  text-decoration: none;
}
.body-container a:hover{
  background-color:#fed136!important;
}

