#table_view{
    margin-top:3%;
    margin-bottom:3%;
    box-shadow: 5px 5px 5px 5px gray;   
    background-color:silver;
    border:1px solid black;
}

#buy_btn{
    margin-bottom:1%;
    margin-left:40%;
    margin-right:40%;
    width:20%;
}
#mainNav{
    background-color:#212529;
  }
td .btn{
    margin-left:20%;
    margin-right:20%;
    width:60%;
    padding-left:5%;
    padding-right:5%;
}
.dropdown-menu{
    background-color:#212529;
  }
  .dropdown-item{
    color:white!important;
  }
  .dropdown-item:hover{
    background-color: silver!important;
  }
  #change_tag ul li{
  float:left;
  list-style-type: none;
  margin-right:0.5%;
  margin-bottom:2%;
  border:1px solid silver;
  width:10%;
  text-align: center;
}
#receipt{
  background-color: rgb(197, 208, 219);
}